@import "../node_modules/bulba/bulma.sass";

.tabs {
  .container {
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      z-index: 10;
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #fff;
      background-image: -webkit-linear-gradient(
        top,
        #e4f5fc 0%,
        #bfe8f9 50%,
        #9fd8ef 51%,
        #2ab0ed 100%
      );
    }
  }
}

.search {
  display: flex;
  justify-content: space-evenly;
  .field {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
